@use '../helpers' as *;
@use '../base/header/header-fon';
@use '../base/header/header-shadow';
@use '../base/header/burger-2';
@use '../base/header/menu-header';

.header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  // background-color: var(--color-dark);

  &__container-big {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;

    @include adaptive-clamp('min-height', 80, 60);
  }

  &__logo {
    position: relative;
    z-index: 5;
    font-size: 16px;

    @include hover {
      color: var(--color-red);
    }
  }
}
