@use 'helpers' as *;

body {
  font-family: var(--font-family-base), sans-serif;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  color: var(--main-color);
  background-color: var(--color-bg-body);

  &.lock {
    touch-action: none;
    overflow: hidden;
  }

  @media (max-width: em(767.98)) {
    font-size: var(--font-size-mobile);
  }
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  & main {
    flex: 1 1 auto;
  }
}

section:not(.hero) {
  padding-top: fluid(60, 25);
  padding-bottom: fluid(60, 25);
}

.blue {
  color: var(--color-blue);
}

h1,
.h1 {
  font-weight: 700;

  @include fluid-text(48, 30);
}

h2,
.h2 {
  @include fluid-text(32, 24);
}

h3,
.h3 {
  @include fluid-text(24, 20);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

// :focus-visible {
//   outline: rem(2) dashed var(--color-white);
//   outline-offset: rem(4);
//   transition-duration: 0s;
// }

// .disabled {
//   opacity: 0.5;
//   cursor: default;
//   pointer-events: none;
// }

// a {
//   @include hover {
//     color: var(--color-accent);
//   }
// }

// a,
// button {
//   &[aria-label] {
//     position: relative;

//     &::before {
//       width: 44px;
//       height: 44px;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       translate: -50% -50%;
//       content: '';
//     }
//   }
// }
