@use 'helpers' as *;

// .parallax {
// 	width: 100%;
// 	background: url('../assets/img/parallax.webp');
// 	background-attachment: fixed;
// 	background-position: center;
// 	background-repeat: no-repeat;
// 	background-size: cover;
// 	min-height: 400px;
// 	@media (max-width: 1024px) {
// 		min-height: 300px;
// 	}
// }

// .gradient-text {
//   --gradient-color: #999;
// 	background: var(--gradient-color);
// 	background-clip: text;
// 	color: transparent;
// }

.video {
  position: relative;
  overflow: hidden;
  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
