@use 'helpers' as *;

p {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

html {
  overscroll-behavior: none;
  scroll-behavior: smooth;
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-gutter: stable;
}

body {
  min-width: 320px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;

  &:focus,
  &:active {
    outline: none;
  }

  &:hover,
  &:visited {
    text-decoration: none;
  }
}

[fill] {
  fill: currentColor;
}

[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}
