@use 'helpers' as *;

// --f-font-size: #{rem(16)}; #{rgba(#000, 10%) (если используем функции в css переменных, надо обернуть в #{} , иначе функции не будут работать)
:root {
  --font-family-base: 'Roboto', sans-serif;
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Roboto', sans-serif;

  --container-width: #{rem(1174)};
  --container-big-width: #{rem(1417)};
  --container-padding-x: #{rem(15)};
  --transition-duration: 0.3s;
  --transition: 0.3s ease 0s;

  --font-size: #{rem(16)};
  --font-size-mobile: #{rem(16)};
  --font-weight: 400;
  --line-height: 1;

  --main-color: var(--color-white);
  --second-color: var(--color-red);
  --accent-color: var(--color-red);
  --hover-color: var(--color-red);
  --hover-background: var(--color-red);
  --color-bg-body: var(--color-dark);
  --scroll-up: var(--color-red);

  --color-white: #ffffff;
  --color-light: #d0d0d0;
  --color-dark: #0d0d12; // основной фон
  --color-dark-2: #1b1b24; // фон таблица
  --color-dark-3: #2a2a3b; // заголовок таблицы
  --color-yellow: #ffd600;
  --color-red: #ff3b6a;
  --color-blue: #3aafff;

  --border-radius: #{rem(7)};
  --border-radius-12: 12px;
  --color-gradient-start: #1b1b24;
  --color-gradient-end: #2b0f29;
  --gradient: linear-gradient(
    180deg,
    var(--color-gradient-start) 0%,
    var(--color-gradient-end) 100%
  );

  // --gradient: linear-gradient(180deg, #1B1B24 0%, #2B0F29 100%);

  --color-border: #3a3a4a;

  --margin-1: 20px;
  --margin-2: 25px;
  --margin-3: 20px;
  --margin-4: 20px;
}
